<script type="text/javascript" src="js/libs/tau/mobile/js/tau.js"></script>
<div class="contentWrapper location-page">
    <div id="newevent" class="ui-page ui-page-active">
        <div class="ui-header" data-position="fixed">
            <h2 class="ui-title">Location</h2>
            <a class="ui-header-btn ui-header-btn-text ui-header-btn-left" ui-sref="newEvent">BACK</a>
            <a class="ui-header-btn ui-header-btn-text ui-header-btn-right" ng-click="setLocation();setRecentSearch()">ADD</a>
        </div>
        <div class="ui-content">
            <ul class="ui-listview">
                <li class="ui-li-static">
                    <input id="pac-input" class="controls location-input" type="search" placeholder="Search" ng-click="getRecentSearchAgain()">
                </li>
                <!-- <li class="ui-li-static" ng-show="recentSearchedPlaces">
                    <label>Recent Places</label>
                </li> -->
                <li class="ui-li-static">
                    <label>Recent Places</label>
                </li>
                <li class="ui-li-static" ng-show="recentSearchedPlaces" ng-repeat="places in recentSearchedPlaces | orderBy: '-' ">
                    <p>{{places}}</p>
                </li>
                <li class="ui-li-static" ng-if="!recentSearchedPlaces.length">
                    <p>No recent places</p>
                </li>
                <li class="ui-li-static" style="height: 300px;"></li>
            </ul>
        </div>
    </div>
</div>
