<script type="text/javascript" src="js/libs/tau/mobile/js/tau.js"></script>
<!--NewEvent page-->
<div class="contentWrapper newevent">
    <div id="eventDetail" class="ui-page ui-page-active">
        <div class="ui-header" data-position="fixed">
            <h2 class="ui-title">New Event</h2>
            <a class="ui-header-btn ui-header-btn-text ui-header-btn-left" ui-sref="home">BACK</a>
            <a class="ui-header-btn ui-header-btn-text ui-header-btn-right">CREATE</a>
        </div>
        <div class="ui-content">
            <ul class="ui-listview ">
                <li class="ui-li-static event-name">
                    <div class="textinput-box">
                        <input type="text" id="eventName" placeholder="Event" data-clear-btn="true" ng-model="eventName" ng-change="updateEventName()" ng-model-options="{ debounce: 1000 }" />
                    </div>
                </li>
                <li class="ui-li-static event-location">
                    <div class="textinput-box" ui-sref="location">
                        <input type="text" name="locationField" id="locationField" placeholder="Location" disabled="disabled" ng-model="location"></input>
                        <span class="location"></span>
                    </div>
                </li>
                <li class="ui-li-static event-date">
                    <div class="textinput-box">
                        <label for="DateTime">Date</label>
                        <button name="dateField" id="dateField" class="datepicker" style="position: absolute;left: 16px;">{{eventDate | date: 'EEE, dd/MM/yyyy'}}</button>
                        <input type="date" name="dateField" id="dateField" class="datepicker" ng-model="eventDate" />
                       
                        <button name="timeField" id="timeField" class="timepicker" style="position: absolute;left: 222px;">{{eventDate | date :'shortTime'}}</button>
                         <input type="time" name="timeField" id="timeField" class="timepicker" ng-model="eventDate" />
                    </div>
                </li>
                <li class="ui-li-static event-member">
                    <div class="textinput-box" ui-sref="contactList">
                        <span>{{addedUsers}} </span>
                        <input type="text" name="peopleField" id="peopleField" placeholder="People" disabled="disabled" />
                        <span class="people"></span>
                    </div>
                </li>
                <li class="ui-li-static notification">
                    <div class="reminder"><span>Reminder</span></span>
                    </div>
                    <div class="endtime"><span>End Time</span></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
