html {
  font-size: 75%;
  height: 100%;
}
html body {
  font-family: 'SOne-F200_v20' !important;
  overflow-x: hidden;
  /*Setting scroll for the wrapper*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../images/mainbg.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6,
html body span,
html body .ui-page {
  font-family: 'SOne-F200_v20' !important;
}
html body hr {
  max-width: 100%;
}
html body a {
  text-decoration: none;
}
html body a:hover {
  text-decoration: none;
}
@font-face {
  font-family: 'SOne-F200_v20';
  src: url('../assets/fonts/SOne/SOne-F200_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F300_v20';
  src: url('../assets/fonts/SOne/SOne-F300_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F400_v21';
  src: url('../assets/fonts/SOne/SOne-F400_v2.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F400c_v21';
  src: url('../assets/fonts/SOne/SOne-F400c_v2.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F500_v20';
  src: url('../assets/fonts/SOne/SOne-F500_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F600_v20';
  src: url('../assets/fonts/SOne/SOne-F600_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F700_v20';
  src: url('../assets/fonts/SOne/SOne-F700_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SOne-F800_v20';
  src: url('../assets/fonts/SOne/SOne-F800_v2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@-webkit-fade InAnimate {
  from {
    opacity: 0;
  }
}
@keyframes fadeInAnimate {
  from {
    opacity: 0;
  }
}
span,
h1,
h2,
h3,
h4,
h5,
.ui-header h6,
button {
  font-family: 'SOne-F200_v20' !important;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.paddingBottom30px {
  padding-bottom: 30px;
}
.contentWrapper {
  width: 100%;
  height: 100% !important;
  background-image: url(../assets/images/mainbg.png) !important;
  background-repeat: no-repeat;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.ui-header {
  background: transparent !important;
}
.loginpage {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/loginbg.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}
.loginpage .login-content {
  padding-top: 350px;
}
.loginpage .ui-header-login {
  background: transparent !important;
}
.loginpage .ui-page {
  background-image: url(../assets/images/loginbg.png) !important;
  width: 100% !important;
  height: 100% !important;
  background-repeat: no-repeat !important;
  background-position: 0px 0px !important;
  background-size: cover !important;
}
.loginpage .ui-btn:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item) {
  background-color: #e75480 !important;
}
.loginpage .ui-btn:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item)::before {
  background-color: #A72A6D !important;
}
.header {
  background: none;
  height: 32px;
  text-align: center;
  font-family: 'SOne-F300_v20';
  font-size: 25px;
  color: #fff;
  padding: 20px 10px 0px 10px;
}
.header .header-left {
  color: #fff;
}
.tabbar {
  width: 100%;
  height: 80px;
  text-align: center;
  font-family: 'SOne-F400_v20';
  font-size: 32px;
  color: #fff;
}
.content {
  height: 100%;
  width: 100%;
  top: 55px;
  bottom: 0px;
  overflow-y: auto;
  background-color: #ffffff;
}
.login-container {
  padding-left: 16px;
  padding-right: 16px;
}
#map {
  width: 100%;
  height: 334px;
  background: #ccc;
}
#map .labels {
  color: white;
  background: none;
  height: 32px;
  text-align: center;
  font-family: 'SOne-F300_v20';
  font-size: 16px;
  color: #fff;
  opacity: 1 !important;
}
#map .gmnoprint a,
#map .gmnoprint span,
#map .gmnoprint div {
  display: none;
}
#map img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png"],
#map a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
.homepage .kg-event-list .event-detail,
.navigationPage .kg-event-list .event-detail {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
}
.homepage .kg-event-list .event-detail .event-date,
.navigationPage .kg-event-list .event-detail .event-date {
  float: left;
  padding: 0px 14px;
  display: block;
}
.homepage .kg-event-list .event-detail .event-date .event-dd,
.navigationPage .kg-event-list .event-detail .event-date .event-dd {
  font-size: 20px;
  padding: 8px 0;
  font-family: 'SOne-F400_v21';
}
.homepage .kg-event-list .event-detail .event-date span,
.navigationPage .kg-event-list .event-detail .event-date span {
  font-size: 16px;
}
.homepage .kg-event-list .event-detail .event-dtls,
.navigationPage .kg-event-list .event-detail .event-dtls {
  padding-left: 20px;
  width: 66%;
  float: left;
  display: block;
  position: relative;
  box-sizing: border-box;
  border-left: 1px solid #CACACA;
}
.homepage .kg-event-list .event-detail .event-dtls .event-name,
.navigationPage .kg-event-list .event-detail .event-dtls .event-name {
  font-size: 20px;
  font-weight: bold;
  padding: 8px 0;
}
.homepage .kg-event-list .event-detail .event-dtls span,
.navigationPage .kg-event-list .event-detail .event-dtls span {
  font-size: 16px;
}
.homepage .kg-event-list .event-member-list,
.navigationPage .kg-event-list .event-member-list {
  margin-left: -24px !important;
}
.homepage .kg-event-list .event-member-list .member-list,
.navigationPage .kg-event-list .event-member-list .member-list {
  list-style: none;
  display: inline-flex;
}
.homepage .kg-event-list .pending-status,
.navigationPage .kg-event-list .pending-status {
  margin: 0 auto;
  text-align: center;
  padding: 12px 0;
}
.homepage .ui-tabbar a,
.navigationPage .ui-tabbar a {
  font-family: 'SOne-F400c_v21';
  color: rgba(255, 255, 255, 0.7);
}
.homepage .ui-listview li,
.navigationPage .ui-listview li {
  font-size: 16px;
  font-weight: 600;
}
.homepage .ui-tabbar li:active,
.navigationPage .ui-tabbar li:active {
  background-color: transparent !important;
}
.homepage .pending,
.navigationPage .pending {
  border-left: 4px solid #FECA15;
  border-bottom: none !important;
  padding: 0px !important;
}
.homepage .accepted,
.navigationPage .accepted {
  border-left: 4px solid #41C555;
  border-bottom: none !important;
  padding: 0px !important;
}
.homepage .rejected,
.navigationPage .rejected {
  border-left: 4px solid #FF0000;
  border-bottom: none !important;
  padding: 0px !important;
}
.homepage .ui-btn,
.navigationPage .ui-btn {
  background-color: #7B3F87;
  padding: 13px 49px;
  margin: 0 8px;
}
.homepage .event-members,
.navigationPage .event-members {
  background: #fff;
  padding: 11px 18px;
  margin-top: -3px;
  border-left: 4px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  opacity: 50%;
  color: #000;
  font-family: 'SOne-F400c_v21' !important;
}
.vertical-align-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.navigationPage .ui-listview li {
  padding: 0px;
}
.navigationPage .kg-event-list .event-detail {
  height: 115px;
}
.navigationPage .kg-event-list .event-member-list {
  height: 60px;
}
.navigationPage .kg-event-list .pending-status,
.navigationPage .kg-event-list .accepted-status {
  height: 76px;
  margin: 0 auto !important;
  text-align: center;
  padding: 12px 0 !important;
}
.navigationPage .kg-event-list .pending-status .ui-btn,
.navigationPage .kg-event-list .accepted-status .ui-btn {
  padding: 13px 49px;
}
.navigationPage .kg-event-list .arrived-member-list {
  height: auto;
  font-size: 16px;
  padding-top: 5px;
}
.navigationPage .kg-event-list .arrived-member-list ul {
  padding-left: 16px;
}
.navigationPage .kg-event-list .arrived-member-list .arrived-member {
  display: inline-block;
  background-color: #493073;
  color: white;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 5px;
  width: 30px;
  text-align: center;
}
.navigationPage .kg-event-list .arrived-member-list .arrived-member .popUp-window {
  position: absolute;
  left: 100%;
  top: 0;
  display: block;
}
.navigationPage .kg-event-list .arrived-member-list .arrived-member .popUp-window .popUp-window-item {
  display: block;
}
.navigationPage .kg-event-list .all-members-meet {
  height: auto;
  font-size: 16px;
  padding-top: 5px;
}
.navigationPage .kg-event-list .all-members-meet .animate-text {
  position: relative;
  color: #555;
  text-align: center;
  -webkit-animation: fadeInAnimate 5s infinite alternate;
  -webkit-animation-iteration-count: 12;
  animation: fadeInAnimate 5s infinite alternate;
  animation-iteration-count: 12;
}
.navigationPage .kg-event-list .pending-status {
  height: 76px;
}
.ui-btn:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item) {
  background-color: #7B3F87 !important;
}
.ui-btn:not(.ui-btn-circle):not(.ui-btn-nobg):not(.ui-floatingactions-item)::before {
  background-color: #200055 !important;
}
.ui-floatingactions {
  background-color: #200055 !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  border-radius: 30px !important;
}
.ui-floatingactions .ui-floatingactions-item:last-child {
  margin-right: 0px !important;
}
.ui-floatingactions .ui-floatingactions-item:first-child {
  margin-left: 0px !important;
}
.btn-fab {
  background-color: #7B3F87 !important;
}
.btn-fab:hover {
  background-color: #200055 !important;
}
.btn-fab:active {
  background-color: #200055 !important;
}
.btn-fab::before {
  background-color: #7B3F87 !important;
}
.ui-floatingactions .ui-floatingactions-item.ui-icon-floating-add::after {
  left: 20px !important;
  width: 40px !important;
  height: 40px !important;
  background-color: #ffffff !important;
}
.ui-floatingactions .ui-floatingactions-item::before {
  background-color: #7B3F87 !important;
  -webkit-transform: none !important;
  -webkit-transition-duration: 0s !important;
  -webkit-transition-timing-function: ease !important;
}
.ui-header > .ui-header-btn:active::before {
  background-color: #7B3F87 !important;
}
.ui-header > .ui-header-btn:focus {
  border: none !important;
}
.form-input > input.ui-text-input,
.form-input > textarea.ui-text-input {
  color: #000000 !important;
  background: rgba(197, 180, 180, 0.35) !important;
  -webkit-text-fill-color: inherit !important;
  line-height: 20px !important;
  font-size: 18px !important;
  margin-top: 15px !important;
  text-align: center !important;
  border-radius: 30px !important;
  padding: 0px !important;
}
.form-input > input.ui-text-input.ui-text-input-disabled,
.form-input > textarea.ui-text-input.ui-text-input-disabled,
.form-input > input.ui-text-input:disabled,
.form-input > textarea.ui-text-input:disabled {
  text-shadow: 0 0 0 #000000 !important;
}
.form-input > input.ui-text-input + .ui-text-input-textline,
.form-input > textarea.ui-text-input + .ui-text-input-textline {
  background: transparent !important;
  height: 0px !important;
  position: inherit !important;
  display: none !important;
  box-sizing: inherit !important;
  margin: 0px !important;
}
.form-input > input.ui-text-input + .ui-text-input-textline {
  top: 0px !important;
}
*::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #7C797C;
}
*:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #7C797C;
  opacity: 1;
}
*::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7C797C;
  opacity: 1;
}
*:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7C797C;
}
.form-input {
  margin: 0px 12px 0px 12px;
}
.ui-listview.ui-colored-list .ui-li.ui-li-anchor:active,
.ui-listview.ui-colored-list .ui-li.ui-btn:active,
.ui-listview.ui-colored-list .ui-li-static:active {
  background: transparent !important;
}
/*.pac-container:after {
   background-image: none !important;
   height: 0px;
}*/
input.ui-text-input,
textarea.ui-text-input {
  padding: 0px 32px 0px 0px !important;
  background: transparent !important;
  line-height: 20px !important;
  font-size: 18px !important;
}
input.ui-text-input.ui-text-input-disabled,
textarea.ui-text-input.ui-text-input-disabled,
input.ui-text-input:disabled,
textarea.ui-text-input:disabled {
  text-shadow: 0 0 0 #000000 !important;
}
.newevent .ui-header > .ui-header-btn.ui-header-btn-text {
  min-width: 0px;
  margin-left: 16px;
  margin-right: 16px;
}
.newevent .ui-header > .ui-header-btn:active::before {
  background: transparent !important;
}
.newevent textarea.ui-text-input + .ui-text-input-textline {
  top: 0.5px;
}
.newevent .ui-text-input-textline {
  background: #3EB9CB !important;
  margin: 0px !important;
}
.newevent .ui-listview.ui-colored-list .ui-li-static:active {
  background: transparent !important;
}
.newevent .event-name {
  padding: 7px 16px !important;
}
.newevent .event-location {
  padding: 7px 16px !important;
}
.newevent .textinput-box label {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
}
.newevent input[type="date"] {
  opacity: 0;
  margin-left: 8px;
  padding-bottom: 15px;
}
.newevent input[type="time"] {
  opacity: 0;
  float: right;
  margin-right: 0px;
  padding-bottom: 15px;
}
.newevent .datepicker {
  display: inline-block;
  width: 160px;
  background-color: #7b3f87 !important;
  border-radius: 26px;
  position: relative;
  min-height: 39px;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: 'SOne-F400_v21' !important;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  -webkit-appearance: textfield !important;
  padding: 1px !important;
  border-image: initial !important;
  -webkit-rtl-ordering: logical !important;
  -webkit-user-select: text !important;
  cursor: auto !important;
}
.newevent .timepicker {
  display: inline-block;
  width: 120px;
  background-color: #7b3f87 !important;
  border-radius: 26px;
  position: relative;
  min-height: 39px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: 'SOne-F400_v21' !important;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  float: right;
  -webkit-appearance: textfield !important;
  padding: 1px !important;
  border-image: initial !important;
  -webkit-rtl-ordering: logical !important;
  -webkit-user-select: text !important;
  cursor: auto !important;
}
.newevent .location {
  display: block;
  float: right;
  position: relative;
  top: -45px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-right: 3px;
  background: url(../assets/images/location_map_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.newevent .people {
  display: block;
  float: right;
  position: relative;
  top: -46px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  /* margin-right: 12px; */
  background: url(../assets/images/person_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.newevent .member-list {
  list-style: none;
  display: inline-flex;
}
.newevent .notification {
  display: flex;
  width: 328px;
}
.newevent .notification .reminder {
  background: url(../assets/images/reminder_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 50px;
  position: relative;
  text-align: center;
  left: 25%;
}
.newevent .notification .reminder span {
  position: absolute;
  top: 55px;
  left: 16px;
  font-size: 18px;
}
.newevent .notification .endtime {
  background: url(../assets/images/clock_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 50px;
  position: relative;
  text-align: center;
  left: 25%;
}
.newevent .notification .endtime span {
  position: absolute;
  top: 55px;
  left: 16px;
  font-size: 18px;
}
.invitee-list .pending {
  border-left: 4px solid #FECA15 !important;
  border-bottom: none !important;
  padding: 0px !important;
}
.invitee-list .accepted {
  border-left: 4px solid #41C555 !important;
  border-bottom: none !important;
  padding: 0px !important;
}
.invitee-list .rejected {
  border-left: 4px solid #FF0000 !important;
  border-bottom: none !important;
  padding: 0px !important;
}
.invitee-list .textinput-box {
  height: 30px !important;
  padding: 16px !important;
}
.invitee-list .textinput-box .invitee-status {
  float: right;
  font-family: 'SOne-F400_v21' !important;
  opacity: 0.5;
}
.invitee-list .textinput-box .invitee-name {
  font-family: 'SOne-F400_v21' !important;
  font-size: 20px;
}
.invitee-list .status-text {
  font-family: 'SOne-F600_v20' !important;
  font-size: 20px;
  text-align: center;
}
.invitee-list .pending-status {
  margin: 0 auto !important;
  text-align: center;
  padding: 12px 0 !important;
}
.invitee-list .pending-status .ui-btn {
  padding: 13px 49px;
}
.invitee-list .accepted-status .ui-btn {
  display: inherit;
  padding: 16px;
  margin: 0px 16px;
  text-align: center;
}
.location-page input {
  backgraund: transparent;
}
.pac-container:after {
  background-image: none !important;
  height: 0px;
  padding: 0;
  margin: 0;
}
.contactlist .ui-li-static {
  border-bottom: none !important;
}
.contactlist .ui-li-static .user-name {
  font-weight: 600;
}
.contactlist .ui-li-static .check-box {
  float: right;
}
